@import "../../../styles/colors";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.headerMobileWrapper {
    background-color: $primary-color;
    height: 8vh;

    .headerMobileCtr {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 100%;
        width: 90%;
        margin: auto;

        h1 {
            font-size: 5vw;
            font-weight: 600;
            color: $white;
        }

        input {
            @include customInput(4vw);
        }
    }
}
