@import '../../../styles/colors';
@import '../../../styles/mixins';

.carouselCtr {
    color: $white;

    .carousel {
        height: 46vh; //46
        width: 100%;

        & > div {
            width: 100%;
        }

        & > p {
            transition: all .5s ease-in-out;
            width: fit-content;
            font-size: 6vw;
            margin: auto;
        }

        &Temp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10vw;

            p {
                font-size: 18vw;
            }

            .svgIcon {
                @include svg-icon(10vh);
            }
        }

        &Info {
            padding-left: 2vh;
            p {
                font-size: 5vw;

                &:first-of-type {
                    color: $secondary-color;

                    span {
                        color: $accent-color;
                    }
                }

                &:last-of-type {
                    color: $accent-color;
                    margin-top: 2vh;
                }
            }
        }
    }

    .carouselMeasures {
        width: 100%;
        height: 38vh; // 36
        background: linear-gradient(180deg, $primary-color 0%, $background-color 19.37%);
    }
}

.carouselIndicatorCtr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1.5vw;
    height: 2vh;
    margin: 2vh 0;

    .carouselDot {
        transition: background-color .25s ease-in-out;
        background-color: $accent-color;
        border-radius: 50%;
        $wh: 2vw;
        width: $wh;
        height: $wh;

        &.active {
            background-color: $white;
        }
    }
}
