@import '../../../styles/colors';
@import '../../../styles/mixins';

.carouselCtr {
    height: 82vh;
    color: $white;

    .carousel {
        height: 46vh;
        width: 100%;

        & > div {
            width: 100%;
        }

        & > p {
            width: fit-content;
            font-size: 6vw;
            margin: auto;
        }

        &Temp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                font-size: 18vw;
            }

            .weatherIconCtr {
                @include weather-icon;
                height: 100%;
                width: 100%;
            }
        }

        &Info {
            p {
                font-size: 5vw;

                &:first-of-type {
                    color: $secondary-color;

                    span {
                        color: $accent-color;
                    }
                }

                &:last-of-type {
                    color: $accent-color;
                }
            }
        }
    }

    .carouselMeasures {
        width: 100%;
        height: 36vh;
        background: linear-gradient(180deg, $primary-color 0%, $background-color 19.37%);
    }
}

.carouselIndicatorCtr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1.5vw;
    height: 2vw;
    margin: 4vw 0;

    .carouselDot {
        background-color: $accent-color;
        border-radius: 50%;
        $wh: 2vw;
        width: $wh;
        height: $wh;

        &.active {
            background-color: $white;
        }
    }
}
