@import "./colors";
@import "./variables";

@mixin todayPage-ctr {
    height: 46vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin weather-icon {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
        margin-top: 20%;
        height: 40%;
    }

    figcaption {
        margin-top: 20%;
        color: $accent-color;
        font-size: 1.5vw;
    }
}

@mixin customInput($font-size) {
    background-color: $secondary-color;
    border: 2px solid $background-color;
    font-size: $font-size;

    color: $background-color;
    margin: 0 2vw;
    padding: 2px 5px;
    transition: background-color $transition-time linear;

    &:focus {
        outline: none;
        background-color: $accent-color;
    }
}
