@import '../../../styles/colors';

.todayPageCtrMobile {
    height: 92vh;

    .cityDataCtr {
        margin: 2vh 0 0 2vh;

        h2 {
            color: $white;
            font-size: 7vw;
        }

        h3 {
            color: $accent-color;
            font-size: 4vw;
            margin-top: 2vh;
        }
    }
}
